# Default ignored files
/shelf/
/workspace.xml
# Databases files
/dataSources/
/dataSources.local.xml
/DB/
# IntelliJ IDEA files
/out/
/target/
*.iml
.idea/
*.ipr
*.iws
# Log files
*.log
# System files
.DS_Store
Thumbs.db
*.tmp
# JAR and WAR files #
*.jar
*.war
# Compiled files
*.class